[data-md-color-scheme="green"] img[src$="#only-dark"],
[data-md-color-scheme="green"] img[src$="#gh-dark-mode-only"] {
  display: none; /* Hide dark images in light mode */
}

[data-md-color-scheme="green"] img[src$="#only-light"],
[data-md-color-scheme="green"] img[src$="#gh-light-mode-only"] {
  display: none; /* Hide dark images in light mode */
}

:root  > * {
  --md-primary-fg-color:        #14151a;
  --md-primary-fg-color--light: #ECB7B7;
  --md-primary-fg-color--dark:  #14151a;
}